appdirs==1.4.3
certifi==2017.4.17
chardet==3.0.3
click==6.7
decorator==4.0.11
Flask==0.12.2
Flask-SQLAlchemy==2.2
Flask-WTF==0.14.2
geocoder==1.22.6
gunicorn==19.7.1
idna==2.5
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
packaging==16.8
psycopg2==2.7.1
pyparsing==2.2.0
ratelim==0.1.6
requests==2.16.5
six==1.10.0
SQLAlchemy==1.1.10
urllib3==1.26.5
Werkzeug==0.12.2
WTForms==2.1
